{%style%}
  .iconImages {
    display: flex;
    column-gap: 20px;
    position: relative;
    border-bottom: 1px solid #cecece; 
    padding-bottom: 10px;
  width: 157px !important;
  margin-top: 17px;
  }
  .iconImages svg {
    margin-bottom: 17px; /* Adjust the margin as needed */
  }
  svg{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);

background-color: #fff;
  }

{%endstyle%}
<div class="iconImages">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16"> <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/> </svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
  <g transform="scale(-1, 1) translate(-16, 0)">
    <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
  </g>
</svg>
</div>
