{%style%}
.desc__heading .desc__list
{
  font-size:14px;
  line-height: 16px;
  letter-spacing: normal;

text-align: left;
font-weight:bold;
color: #000;

}
.product-form__submit {
  min-width: calc(17.2rem + var(--buttons-border-width) * 2) !important;
}
.desc__heading
{
  font-size:18px;
  letter-spacing: normal;

text-align: left;
font-weight:bold;
color: #000;

}

{%endstyle%}

{%- if product.description != blank -%}
  <div class="product__description rte quick-add-hidden" {{ block.shopify_attributes }}>
    {% assign description_parts = product.description | split: ' ' %}
    {% assign part_size = description_parts.size | divided_by: 10 %}
    <ul class="desc__heading">Product Features
      {% for i in (0..9) %}
        {% assign part_start = i | times: part_size %}
        {% assign part_end = i | plus: 1 | times: part_size %}
        {% assign part = description_parts | slice: part_start, part_size | join: ' ' %}
        <li class="desc__list">{{ part }}</li>
      {% endfor %}
    </ul>
  </div>
{%- endif -%}

